<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <title>{{title}}</title>
  <meta content="{{title}}" property="og:title" />
  <meta content="{{description}}" name="description" />
  <meta content="{{description}}" property="og:description" />
  <meta content="https://minwiz.com/og.png" property="og:image" />
  <meta content="summary" name="twitter:card" />
  <link inline rel="stylesheet" href="/styles.css" /> 
</head>

<body>
  <header>
    <h1>{{title}}</h1>
    <h5>{{publication_status}}</h5>
  </header>

  <main>
    <article>
      {{content}}
    </article>
  </main>

  <footer>
  </footer>
</body>
<script type="text/javascript" src="/uplink.js"></script>

</html>